<?xml version="1.0"?>
<config>
    <modules>
        <Wage_All>
            <version>0.1.0</version>
        </Wage_All>
    </modules>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <wageall_check>
                        <class>Wage_All_Model_Feed_Updates</class>
                        <method>check</method>
                    </wageall_check>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <global>
        <models>
            <all>
                <class>Wage_All_Model</class>
            </all>
        </models>
        <helpers>
            <all>
                <class>Wage_All_Helper</class>
            </all>
        </helpers>
    </global>
    <default>
        <wageall>
            <feed>
                <check_frequency>86400</check_frequency>
            </feed>
        </wageall>
    </default>
</config>