<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Helpclient>
            <version>0.1.0</version>
        </Wage_Helpclient>
    </modules>
    
    <admin>
        <!--routers>
			<helpclient>
				<use>admin</use>
				<args>
					<module>Wage_Helpclient</module>
					<frontName>helpclient</frontName>
				</args>
			</helpclient>
        </routers-->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wage_helpclient before="Mage_Adminhtml">Wage_Helpclient_Adminhtml</wage_helpclient>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<helpclient>
					<file>helpclient.xml</file>
				</helpclient>
			</updates>
		</layout>
        <!--events>
            <core_block_abstract_to_html_after>
                <observers>
                    <wage_helpclient>
                        <type>singleton</type>                            
                        <class>Wage_Helpclient_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </wage_helpclient>
                </observers>
            </core_block_abstract_to_html_after>
        </events-->
    </adminhtml>   
    <global>
        <models>
            <helpclient>
                <class>Wage_Helpclient_Model</class>
                <resourceModel>helpclient_mysql4</resourceModel>
            </helpclient>
            <helpclient_mysql4>
                <class>Wage_Helpclient_Model_Mysql4</class>
                <entities>
                    <helpclient>
                        <table>helpclient</table>
                    </helpclient>
                    <video>
                        <table>helpclient_video</table>
                    </video>
                </entities>
            </helpclient_mysql4>
        </models>
        <resources>
            <helpclient_setup>
                <setup>
                    <module>Wage_Helpclient</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helpclient_setup>
            <helpclient_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helpclient_write>
            <helpclient_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helpclient_read>
        </resources>
        <helpers>
            <helpclient>
                <class>Wage_Helpclient_Helper</class>
            </helpclient>
        </helpers>
    </global>

    <crontab>
        <jobs>
            <fetchhelpguideproducts>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>helpclient/helpclient::fetchHelpGuideProducts</model></run>
            </fetchhelpguideproducts>
        </jobs>
    </crontab>
</config>